
li {
  list-style: none;
}

.searchResult-tile {
  display: flex;
  height: 500px;
}

.searchResult-photo {
  padding: 0;
  max-width: 250px;
}

.searchResult-detail {
  width: 90%;
  padding-left: 50px;
  text-align: left;
}

.searchResult-tile hr {
  width: 80%;
}
