<div>
  <ul>
    <li *ngFor="let tvProgram of current">
      <div class="searchResult-tile">
        <div class="searchResult-photo" >
          <!--property biding-->
          <img width="250" [src]='tvProgram.image' alt ="No Image">
        </div>
        <div>
          <hr>
          <h2>TV Show: {{tvProgram.name}}</h2>
          <p class="searchResult-detail">Network: {{tvProgram.network}}</p>
          <p class="searchResult-detail">Run Time: {{tvProgram.runtime}}</p>
          <p class="searchResult-detail">Show Time: {{tvProgram.days}} at {{tvProgram.time}}</p>
          <p class="searchResult-detail">Official Site: {{tvProgram.officicalSite}}</p>
          <!--require the use of innerHTML since summary contains html codes-->
          <p class="searchResult-detail" [innerHTML]="tvProgram.summary"></p>
          <hr>
        </div>
      </div>
    </li>
  </ul>
</div>
